.App {
  text-align: center;
  max-width: 100% !important;
  min-height: 100vh;
  padding: 10px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#editor {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px) !important;
  margin: 4px 0px;
}
#preview-container {
  height: calc(100vh -150px);
}

@media screen and (max-width: 767px) {
  #editor {
    position: relative;
    height: 48vh !important;
  }
  #preview-container {
    height: 48vh;
  }
}

.tooltip-container {
  height: 50px;
}
.card-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#preview {
  margin: 4px 0;
}
